# Configurazione Database PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gestionale_macelleria_dev

# Chiave Segreta Flask per Sessioni
SECRET_KEY=inserisci_qui_una_chiave_molto_sicura